.link--accomplishment {
    text-decoration: underline;
    height: 2.8rem;
    padding-top: 2%;
}

.maincontent {
    margin-top: 3rem;
}

.main__description {
    width: 80%;
    margin: auto;
    margin-bottom: 3rem;

}

.section {
    margin: 1rem;
}

.section__certificate {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid green;
    border-radius: 2rem;
    padding: 2rem;
    margin-bottom: 2rem;

}

.section__certifCard {
    display: flex;
    flex-direction: row-reverse;
    margin: 2rem 1rem 2rem;
    margin-bottom: 0;
    box-shadow: 0 0 1rem rgb(114, 95, 95);
    font-size: 1.75vw;
}

.section__certifCard__image {
    width: 30vw;
}

.section__certifCard__description {
    margin: 1rem 2rem;
    width: 80%
}

.btn--add {
    width: fit-content;
    font-size: 1.65rem;
    margin-right: 4rem;
    margin-top: -1rem;
    float: right;

}

.maincontent__heading2 {
    margin-top: 5rem;
}

.testimon {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: fit-content;
    margin: auto;
    border-radius: 1rem;
    box-shadow: 0 0 2rem rgb(66, 128, 107);
    justify-content: center;
}

.testimo__fig {
    margin-bottom: 1rem;
    padding: 0.5rem 2rem;
    border: 1px solid black;
}

.testimo__image {
    width: 30rem;
    border: 5px groove green;
}

.testimo__caption {
    font-family: Georgia, 'Times New Roman', Times, serif;
}



/* tabate */
@media only screen and (max-width:925px) {
    .link--accomplishment {
        height: 2.2rem;
        padding-top: 4%;
    }
}

/* mobile view */
@media screen and (max-width:900px) {
    .link--accomplishment {
        height: 2rem;
        padding-top: 0%;
    }

    .maincontent {
        font-size: 1.2rem;
        width: 95vw;
    }

    .section {
        margin: 2px;
    }

    .section__certificate {
        padding: 4px;
    }

    .section__certifCard {
        flex-direction: column;
        justify-content: center;
        width: 98%;
        margin: auto;
        margin-bottom: 1rem;
        padding: 0px;
        font-size: 1.75vw;
    }

    .section__certifCard__image {
        width: 100%;
    }

    .section__certifCard__description {
        font-size: 1rem;
        margin: 0px;
        padding: 0.2rem;
    }

    .testimon {
        flex-direction: column;
        padding: 0px;
        width: 90vw;
    }

    .testimo__fig {
        margin-bottom: 1rem;
        margin: 0.2rem;
        padding: 2px;
        width: 93%;
    }

    .testimo__image {
        width: 95%;
    }

}